*{
    margin: 0px;
    padding:0px;
    background-color: whitesmoke;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.btn{
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    transition: 1s;
    margin-left: 10px;
    margin-left:30px;
}
.btn input{
    width: 20%;
    border-radius: 15px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: aliceblue; 
    outline:none;
     
}
.title{
    margin-left:30px;
}
.icon{
    cursor: pointer;
}
.main-cur{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 50px auto;
}
.box{
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boxleft{
   
   width: 48%;
   height: 500px;
   overflow: scroll;
   background-color: white;
   border-radius: 10px;
}
 
.deposit-container , .withdraw-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: solid black 1px;
    background-color: white;
}
.deposit{
    background-color: rgb(0, 128, 0);
    border-radius: 15px;
    padding: 5px 15px;
    color: white;

}
.deposit-day{
    margin-left: 30px;
}
.withdraw{
    background-color: rgba(255, 0, 0, 0.77);
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    }
.withdraw-day{
    margin-left: 30px;
}
.boxright{
 
    width: 48%;
    height: 500px;
    
    
}
.transfert{
    
    padding: 30px;
    border-radius: 15px;
    height: 95px;
    background: linear-gradient(to right bottom , #ffc107,#ff9800);
    position: relative;
  
   
}
.transfert-input1 , .transfert-to , .transfert-input2 ,  .transfert-amount ,.fleche1 ,
.request-input, .request-amount, .fleche2,
.close-input1 , .confirm-user ,.close-input2 ,.confirm-pin ,.fleche3

{
    position: absolute;
}
.transfert-input2 , .close-input2{
    left: 180px;
    width: 23%;
    border-radius: 6px;
    padding: 5px;
    top:70px;
    border: none;
    background-color: rgba(255,255,255,0.367);
    outline: none;

}
.transfert-amount{
    left: 220px;
    top: 100px;
    background: none;
    text-transform: capitalize;

}
.fleche1 , .fleche3{
    left: 330px;
    padding: 5px 10px;
    top: 70px;
    border: none;
    border-radius: 5px;
}
.transfert-to , .request-amount , .confirm-user{
    left: 60px;
    top: 100px;
    background: none;
     text-transform: capitalize;
}
.transfert-input1 , .request-input ,.close-input1{
    width: 25%;
    border-radius: 6px;
    padding: 5px;
    top:70px;
    border: none;
    background-color: rgba(255,255,255,0.367);
    outline: none;
}
.request{
    
    padding: 30px;
    border-radius: 15px;
    height: 95px;
    background: linear-gradient(to right bottom , #59c45d,#48964c);
    position: relative;
    margin: 20px 0px;
}
/* .request-input, .request-amount, .fleche2{
    position: absolute;
} */


.fleche2{
    border: none;
    left: 180px;
    padding: 5px 10px;
     border-radius: 5px;
      top:70px;
}
.close{
    
    padding: 30px;
    border-radius: 15px;
    height: 90px;
    background: linear-gradient(to right bottom , #e35858,#ba3f3f);
    position: relative;
   
}
/* .close-input1 , .confirm-user ,.close-input2 ,.confirm-pin ,.fleche3{
    position: absolute;
} */
 .confirm-pin{
    left: 200px;
    top: 100px;
    background: none;
    text-transform: capitalize;

}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   
}


.in{
    color: green;
    font-size: 20px;
    margin-right: 20px;
}
.out{
    color: red;
    font-size: 20px;
     margin-right: 20px;
}
.interested{
    color: green;
    font-size: 20px;
      
}
.tim{
    font-weight: bold;
}